@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: black;
}

.preloader-animation {
    transition: opacity .3s;
    transform:  translate3d(-50%, -50%, 0);
}

.preloader-spinner {
    width: 52px;
    height: 52px;
    margin: 100px auto;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0
    }
}

body {
    @apply bg-black text-white;
    @apply text-[12px] md:text-[16px]
}

@layer components {

    .btn {
        @apply flex items-center justify-center p-[10px] text-2xl inline-flex rounded-[5px] cursor-pointer font-medium capitalize gap-[12px];
    }

    .btn-primary {
        @apply text-white bg-[red];
    }

    .btn-outline {
        @apply border rounded-[5px] border-[red];
    }

    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-between {
        @apply flex items-center justify-between
    }

    .nav-item {
        @apply relative;
        font-weight: 600;
        padding: 10px 0;
        transition: 0.3s ease;
        cursor: pointer;
        text-transform: capitalize;
    }

    .nav-item:not(.active) {
        @apply hover:text-[red]
    }

    .nav-item.active::after {
        @apply absolute rounded-full;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 5px;
        height: 5px;
        @apply bg-[red];
        transition: 0.3s ease;
    }

    .movie-slider {
        height: 874px;
        width: 100%;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 1;
    transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #ff0000;
    width: 32px;
    border-radius: 10px;
}

.my-slider {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.swiper-slide .movie-content {
    position: relative;
    z-index: 2;
}


.trend-card::before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    transition: 0.5s ease;
}

.trend-card:hover::before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: black;
}

.text-truncate {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pill, .p-active {
    @apply p-[8px] rounded-[10px] bg-[red]
}

.pill-outline {
    @apply p-[8px] rounded-[10px] border border-[red]
}

.more-details p {
    font-weight: 400;
    line-height: 24px;
    @apply font-light
}


/* Loader.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @apply bg-black;
}

.loader {
    display: flex;
    gap: 10px;
}

.loader-circle {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader-circle:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-circle:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

